/**
 * Stipple Pattern Treatment
 * =========================
 *
 * Organic, non-grid dot distribution
 * Hand-drawn, illustrative feeling
 * Like pen-and-ink stippling
 */

/* ============================================================================
   Stipple Container
   ============================================================================ */

.stipple {
  position: relative;
  display: block;
  overflow: hidden;
  line-height: 0;
  background-color: #C25C4E;
}

.stipple img {
  display: block;
  width: 100%;
  height: auto;
  filter: grayscale(100%) contrast(1.3);
  /* Apply stipple mask */
  mask-image: url('../../assets/patterns/stipple.svg');
  mask-size: 24px 24px;
  mask-repeat: repeat;
  -webkit-mask-image: url('../../assets/patterns/stipple.svg');
  -webkit-mask-size: 24px 24px;
  -webkit-mask-repeat: repeat;
}

/* ============================================================================
   Stipple with Duotone
   ============================================================================ */

.stipple-duotone {
  position: relative;
  display: block;
  overflow: hidden;
  line-height: 0;
  isolation: isolate;
}

.stipple-duotone img {
  display: block;
  width: 100%;
  height: auto;
  filter: grayscale(100%) contrast(1.2);
  mask-image: url('../../assets/patterns/stipple.svg');
  mask-size: 24px 24px;
  mask-repeat: repeat;
  -webkit-mask-image: url('../../assets/patterns/stipple.svg');
  -webkit-mask-size: 24px 24px;
  -webkit-mask-repeat: repeat;
}

.stipple-duotone::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #C25C4E;
  mix-blend-mode: darken;
  pointer-events: none;
  z-index: 1;
}

.stipple-duotone::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #F5F0E8;
  mix-blend-mode: lighten;
  pointer-events: none;
  z-index: 2;
}

/* ============================================================================
   Density Variants
   ============================================================================ */

/* Sparse stipple - more organic, less coverage */
.stipple--sparse img {
  mask-size: 32px 32px;
  -webkit-mask-size: 32px 32px;
}

/* Dense stipple - tighter coverage */
.stipple--dense img {
  mask-size: 16px 16px;
  -webkit-mask-size: 16px 16px;
}
